# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
# Optional: recursive ignore in monorepos
# **/node_modules/

# Build output
dist/
dist-ssr/

# Local environment files
*.local

# Editor / IDE configs
.vscode/
!.vscode/extensions.json
.idea/

# OS files
.DS_Store

# Visual Studio & other IDE temp files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
